
:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%; /* controle das medidas rem */
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
   height: 100vh;
}
body{
    background-color: var(--color-background);
    display: flex;
    align-items: center;/* Aling-itens só funciona com display felx, assim como justfy-contentes*/
    justify-content: center;
}
body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}
#container{
    width: 90vw;
    max-width: 700px;
}
@media (min-width: 700px){
    :root{
        font-size: 62.5%; /* 1rem vai ser 10px*/
    }
}